
body{
    background-color:#F0FFF0; 
    margin-left:30px;
    margin-right:30px;
}
#ima{
    background-image:url(" ../image/h_img.jpg");
    width:1400px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 392px;
    transform: scale(1.1);
   
}
#log{
    margin-top: 30px;
    color:white;
    margin-right:150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#service {
    margin-top:60px;
    background-image:url(" file:///home/fanny/Desktop/Delani/image/2.jpg");
    margin-left:40px;
    width: 96%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    transform: scale(1.1);
    text-align: center;

}
#service p{
margin-bottom:-7px;
color:white;
margin-bottom:20px;
margin-left:30px;
}
#service h1{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:-4px;
    margin-left:50px;
}
#par{
    text-align: center;
    margin-top: 30px;
    color:white;
    
}#logo{
    margin-bottom:-17px;
    margin-right:150px;
}
 #about{
    text-align:center;
    margin-left:60px;
    margin-top:50px;
} 
 #about h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:35px;
} 
#head h1{
    text-align:center;
margin-top:70px;
color:black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size:50px;
margin-right:180px;
font-weight: inherit;
}
.im img{
    margin-top:60px;
    margin-left:30px;
}
.col-md-4 h3{
    margin-left:30px;
    
}
.header h1{
    margin-left:360px;
    color: black;
    font-size:50px;
    font-weight: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col-md-3 > img{
    padding: 9px;
}
#photo1{
   margin-top:-10px;
    transform: scale(1.1);
}
#photo2{
    margin-top:-10px;
     transform: scale(1.1);
 }
 #photo3{
    margin-top:-10px;
     transform: scale(1.1);
 }
 #photo4{
    margin-top:-10px;
     transform: scale(1.1);
 }
#photos1{
    margin-top:-10px;
    transform: scale(1.1);
}
#photos2{
    margin-top:-10px;
    transform: scale(1.1);
}
#photos3{
    margin-top:-10px;
    transform: scale(1.1);
}
#photos4{
    margin-top:-10px;
    transform: scale(1.1);
}

input{
    background-color:transparent;
    font-size: 10px;
    max-width: length 10px;
    width:50px;
}
#one {
    color:grey;
    margin:50px;
    margin-left:80px;
    
    margin-top:10px;
    width:280px;

}
#on{
    color:grey;
    margin:50px;
    
    margin-left:220px;
    margin-top:10px;
    width:280px;
}
.three{
    text-align: center;
    margin-top:40px;
}
.five{
    margin-top:-280px;
    text-align:center;
    background-color: transparent;
}
footer{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('/home/fanny/Desktop/Delani/image/3.jpg');
    height: 70vh;
    width: 120%;
    opacity:0.8;
    background-size: cover;
    background-position: center;
    margin-left: none;
    
}
textarea{
    width:700px;
    margin-left:50px;
    margin-top:-70px;
}
.three4{
    color:white;
    margin-left:480px;
    
}
.row{
    text-align: center;
    margin-right: 25%;
    margin-right: 25%;
}
button{
    margin-left:857px;
    margin-top:-20px;
    background-color: rgb(14, 231, 213);
    width:60px;
    height:30px;
} 
button:hover {
     background-color:darkblue;
}
#show1 {
    display:none;
}
#show2 {
    display:none;
}
#show3 {
    display:none;
}
.icons{
    margin-top:60px;
    margin-left:100px;
    transform: scale(1.1)
}
.last{
    text-align: center;
    
    margin-top:30px;
}
#im img{
    margin-right:70px;
}
.image1 >p,.image2 >p,.image3 >p,.image4 >p,.image5 >p,.image6 >p,.image7 >p,.image8 >p{
    position: absolute;
    transform: translate(-50%);
    color:white;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    bottom:50%;
    padding: 0;
    margin-left:160px;
    background-color: BLACK;
    font-size: 35px;
    text-transform: uppercase;
}
.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8{
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    text-align: center;
    width: 90%;
    position:absolute;
}
/* #first{
    position: relative;
    overflow: hidden;
}
#second{
    position: relative;
    overflow: hidden;

}
#third{
    position: relative;
    overflow: hidden;

}
#forth{
    position: relative;
    overflow: hidden;
}
#fifth{
    position: relative;
    overflow: hidden;
}
#sixth{
    position: relative;
    overflow: hidden;
}
#seventh{
    position: relative;
    overflow: hidden;
}
#eighth{
    position: relative;
    overflow: hidden;
}
  */
